<section class="advantages">
  <div class="container">
    <div class="row">
      <h2 class="title advantages__title wow fadeInDown">
        Уже <span class="brownish-red big">6 584</span> охотников России выбрали
        <span class="brownish-red">Hunt Expert</span>, потому что он действует:
      </h2>
      <div class="advantages__content">
        <div class="col col--left">
          <div class="item item-1">
            <h4 class="item__title">
              <i class="fico fico-adv-ico-1"></i>Быстрее
            </h4>
            <p class="item__text">
              Тебе не нужно будет ждать по полдня - зверь появится в течении
              первых 3 часов
            </p>
          </div>
          <div class="item item-2">
            <h4 class="item__title">
              <i class="fico fico-adv-ico-2"></i>Дальше
            </h4>
            <p class="item__text">
              Запах приманки Hunt Expert разносится ветром<br> и приманивает всех
              животных в радиусе 10 км
            </p>
          </div>
        </div>
        <div class="product">
          <img src="img/product.png" alt="HUNT EXPERT" class="product__photo" />
        </div>
        <div class="col col--right">
          <div class="item item-3">
            <h4 class="item__title">
              <i class="fico fico-adv-ico-3"></i>Дольше
            </h4>
            <p class="item__text">
              Запах не теряет своей силы<br> и действует на протяжении<br />
              9 часов, увеличивая шанс заполучить нужный тебе трофей
            </p>
          </div>
          <div class="item item-4">
            <h4 class="item__title">
              <i class="fico fico-adv-ico-4"></i>В любую погоду
            </h4>
            <p class="item__text">
              При сильном ветре, дожде<br> или снегопаде — с Hunt Expert<br> ты будешь
              лучшим охотником<br> в любую погоду
            </p>
          </div>
        </div>
      </div>
      <h3 class="advantages__result wow fadeInDown" data-wow-delay="0.2s">
        Трать в <span class="brownish-red big">3 раза меньше</span> времени и
        добывай в <span class="brownish-red big">3 раза больше</span> добычи!
      </h3>
    </div>
  </div>
</section>