<section class="best-bg">
    <div class="best">
        <div class="container container-best">
            <div class="best__main-container">
                <h2 class="best__banner title wow fadeInDown">Чем отличается просто хороший охотник от лучшего?</h2>
                <div class="best__hunters">
                    <div class="best__best-hunter-info">
                        <h3 class="best__best-hunter-title">Лучший охотник</h3>
                        <p class="best__best-hunter-description">
                            знает сотню уловок и охотничьих хитростей.
                            Он устроит засаду так, чтобы зверь
                            <span>как можно быстрее</span> вышел на него сам.
                            <span>Он будет использовать</span> лучшую приманку
                            <span>в самом подходящем</span> для охоты месте.
                        </p>
                        <p class="best__best-hunter-postcriptum">
                            Лучший охотник пользуется <span>Hunt Expert!</span>
                        </p>
                    </div>
                    <div class="best__good-hunter-info">
                        <h3 class="best__good-hunter-title">Хороший охотник</h3>
                        <p class="best__good-hunter-description">
                            на протяжении многих лет оттачивает свое мастерство.
                            Он может просидеть <span>не двигаясь</span>
                            с десяток часов и завалить зверя с&nbsp;одного&nbsp;выстрела.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>