<section class="effective">
    <div class="container">
        <h2 class="effective__banner title wow fadeInDown">
            Рецепт быстрой и эффективной
            охоты с <span>Hunt Expert</span>
        </h2>
        <div class="effective__items-container">
            <div class="effective__item wow fadeInDown" data-wow-delay="0.2s">
                <img src="img/effective-item1.png" alt="item1">
                <div class="effective__item-number block-red">
                    <span class="light-red"></span>
                </div>
                <p class="effective__item-info -custom-width">Поджечь 2 таблетки и расставить
                    на расстоянии 10 метров
                    <span>друг от друга</span>
                </p>
            </div>
            <div class="effective__item wow fadeInDown" data-wow-delay="0.3s">
                <img src="img/effective-item2.png" alt="item">
                <div class="effective__item-number block-red">
                    <span class="light-red"></span>
                </div>
                <p class="effective__item-info">Найти укрытие,
                    ждать добычу</p>
            </div>
            <div class="effective__item wow fadeInDown" data-wow-delay="0.4s">
                <img src="img/effective-item3.png" alt="item">
                <div class="effective__item-number block-red">
                    <span class="light-red"></span>
                </div>
                <p class="effective__item-info">Прицелиться
                    <span>и выстрелить</span>
                </p>
            </div>
        </div>
    </div>
</section>