<section class="expert">
  <div class="container">
    <h2 class="title expert__title wow fadeInDown">Мнение экспертов</h2>
    <div class="expert__slider js_slider-expert" id="js_reviews-expert">
      <div class="slide">
        <h3 class="slide__title">
          Яна Орлова, инспектор полиции Волгоградской области
        </h3>
        <div class="slide__content">
          <div class="photo">
            <img src="img/girl.png" alt="photo" class="pick" />
            <p class="name">Яна Орлова,</p>
            <p class="post">инспектор полиции Волгоградской области</p>
          </div>
          <div class="info">
            <h4 class="info__title">
              “На вопрос, откуда столько мяса, задержанные только улыбались и говорили: приманка хорошая”
            </h4>
            <p class="info__text">
              19 мая 2018 года на трассе по направлению к Волгограду нами была
              задержана группа охотников-контрабандистов, которые перевозили
              около 900 кг оленины. На вопросы, откуда столько мяса, задержанные
              только улыбались и отвечали: “Приманка хорошая”. В машине с
              задержанными мы обнаружили подозрительные горючие таблетки
              неизвестного происхождения, которые мы отправили на экспертизу.
            </p>
            <p class="info__text">
              Во время допроса выяснилось, что задержанные охотники - никакие не
              контрабандисты и вообще в первый раз выехали на охоту. Один из
              охотников нашел в интернете средство для приманки копытных
              животных и предложил своим друзьям протестировать средство.
              Результат - 900 кг оленины, за которые мы их задержали. В приманке
              - горючих таблетках - не было обнаружено никаких запрещенных
              веществ, только секреты животных. Поэтому арестованных охотников
              вы отпустили, поскольку по закону не могли им ничего предъявить.
              Позже я заинтересовалась этой приманкой и продолжила
              расследование. Оказалось, она была изобретена у нас в России одним
              опытным охотником из Сибири. На территории России она легально
              распространяется через интернет и набирает всё большую популярность.
            </p>
          </div>
          <i class="fico fico-arrow-down js_show-more"></i>
        </div>
      </div>
      <div class="slide">
        <h3 class="slide__title">
          Егерь c 30-ти летним стажем Иван Фомич о Hunt Expert
        </h3>
        <div class="slide__content">
          <div class="photo">
            <img src="img/ivan.png" alt="photo" class="pick" />
            <p class="name">Иван Фомич,</p>
            <p class="post">егерь заказника Новосибирской области</p>
          </div>
          <div class="info">
            <h4 class="info__title">
              “Самое сложное в охоте - найти запах, на который зверь придет”
            </h4>
            <p class="info__text">
              Я охотникам давно рассказываю - пока вы полностью не замаскируете
              свои запахи на охоте, не видать вам добычи. Однако, что уж там
              говорить, можно даже с замаскированным запахом день и ночь
              просидеть в засаде - и никого не
              <span class="brownish-red">подстрелить</span>. А все потому что в
              приманках нужно разбираться.
            </p>
            <p class="info__text">
              В нашем лесу охотники и подкормки пробуют использовать, и манки -
              но я вам так скажу, зверь он же тоже не дурак, его так просто не
              обманешь. Охота - это тяжелая работа, нужно многое знать, чтоб
              зверя обхитрить. Я, признаюсь, долго считал, что разные
              навороченные современные прибамбасы для охоты - это всё чушь. Пока
              наши местные охотники не попробовали горючие таблетки “Hunt
              Expert”. Звери его хорошо чуют, сразу идут на этот запах.
            </p>
            <p class="info__text">
              Я сначала боролся с этими охотниками, думал, эта химия нам весь
              лес загрязнит, но оказалось средство экологически чистое, его даже
              придумал старый опытный охотник-сибиряк. Так что, признаю, в
              современной охоте и мне, бывалому егерю, есть чему поучиться.
            </p>
          </div>
          <i class="fico fico-arrow-down js_show-more"></i>
        </div>
      </div>

    </div>

  </div>
</section>