<footer class="footer">
  <div class="container">
    <div class="footer__cols">
      <ul class="col col--logo">
        <li class="col__item col__item--none">
          <span class="bold">Hunt Expert</span>
        </li>
        <li class="col__item col__item--none">Copyright 2018</li>
      </ul>
      <ul class="col">
        <li class="col__item">
          <a href="privacy.html" target="_blank">Политика конфиденциальности</a>
        </li>
        <li class="col__item col__item--none">
          г. Москва, ул. Чоботовская, д.17
        </li>
      </ul>
      <ul class="col">
        <li class="col__item col__item--none">ИНН 7707251637</li>
        <li class="col__item col__item--none">ОГРН 1157735921758</li>
      </ul>
    </div>
  </div>
</footer>
