<form action="/submit" method="post" class="x_order_form form">
  <div class="sale">
    <span class="sale__dash">-</span><span class="sale__value">50</span><span class="sale__persent">%</span>
  </div>
  <p class="form__title">
    <svg class="icon aim">
      <use xlink:href="#aim"></use>
    </svg>
    Успейте купить<br />
    по промо-цене до <span class="date-0 date">09.10.2018</span>
  </p>
  <div class="form__price">
    <div class="old">
      <p class="old__text">Старая цена</p>
      <span class="old__value \x_price_previous">1980</span>
      <span class="old__current x_currency">руб</span>
    </div>
    <div class="new">
      <p class="new__text">promo</p>
      <span class="new__value x_price_current">459</span>
      <span class="new__current x_currency">руб</span><span class="note">*</span>
    </div>
  </div>
  <div class="leftovers">
    Осталось <span class="lastpack">10</span> упаковок<small>со скидкой</small>
  </div>
  <div class="input-wrap">
    <i class="fico fico-name"></i>
    <input class="input" type="text" name="name" placeholder="Мое имя" required="" autocomplete="name" />
  </div>
  <div class="input-wrap">
    <i class="fico fico-tel"></i><input class="input" type="tel" name="phone" placeholder="Мой телефон" required=""
      autocomplete="tel" />
  </div>
  <button type="submit" class="btn">
    <span class="btn__unskew">
      <svg class="icon aim">
        <use xlink:href="#aim"></use>
      </svg> ЗАКАЗАТЬ
      <small class="small">co скидкой</small>
    </span>
  </button>
  <span class="foodnote">* при заказе набора</span>
  <span class="protection">
    <i class="fico fico-protection"></i> Ваши данные защищены!
  </span>
</form>