<header class="header">
  <div class="container">
    <div class="header__top">
      <div class="wrap-logo">
        <img src="img/logo.png" alt="logo" class="logo" />
        <p class="text">
          Горючие таблетки<br />
          для приманки <b class="text-bold">диких копытных</b>
        </p>
      </div>
      <ul class="header__list">
        <li class="item">
          <i class="fico fico-icon-1"></i> Для опытных&nbsp;<br />
          охотников
        </li>
        <li class="item">
          <i class="fico fico-icon-2"></i> Для&nbsp;<br />
          любителей
        </li>
        <li class="item">
          <i class="fico fico-icon-3"></i> Для&nbsp;<br />
          новичков
        </li>
      </ul>
    </div>
    <div class="header__main">
      <div class="info">
        <h1 class="title info__title">
          Проверено! Первая <span class="red">добыча</span> уже через &nbsp;<br />
          <span class="red big">3</span> <span class="red big-2">часа</span>
        </h1>
        <p class="info__text">
          Вне зависимости от вашего опыта,&nbsp;<br />
          погоды и времени года
        </p>
        <ul class="info__list">
          <li class="item">Действует в радиусе 10&nbsp;км</li>
          <li class="item">
            Запах держится<br />
            на протяжении 9 часов
          </li>
          <li class="item">
            Универсальный для всех<br />
            диких копытных
          </li>
        </ul>
      </div>
      <img src="img/man.png" alt="man" class="man">
      <img src="img/product.png" class="product" alt="product" />
      <div class="order-form">
        <!-- =include form.html -->
      </div>
    </div>
  </div>
</header>