<section class="need">
   <div class="container">
      <h2 class="title need__title wow fadeInDown">
         Сколько трофеев ты успеешь добыть
         <span class="
         brownish-red">за <b class="bold">8</b> часов?</span>
      </h2>
      <div class="need__record">
         <div class="left">
            <i class="fico fico-ribbon"></i>
            <h4 class="ttl">*Сейчас рекорд с Hunt Expert</h4>
            <p class="text">– 2 кабана, 3 оленя и 2 лося</p>
         </div>
         <div class="right">
            <i class="fico fico-balance"></i>
            <h4 class="ttl">Их общий вес - <span class="red-two">570 кг</span class="red-two"></h4>
            <p class="text">
               *рекорд принадлежит Левченкову М.А. из г. Екатеринбург
            </p>
         </div>
      </div>
      <div class="title need__title need__title--bg">Надоела неудачная охота?</div>
      <div class="need__list">
         <div class="item wow fadeInDown" data-wow-delay="0.2s">
            <div class="wrap-img">
               <img class="item__img" src="img/item-photo-1.png" alt="item-photo">
               <div class="block-red">
                  <span class="light-red"></span>
               </div>
            </div>
            <p class="item__text">Дорогие прикормки и ловушки<br> не дают результата без огромного опыта охоты</p>
         </div>
         <div class="item wow fadeInDown" data-wow-delay="0.3s">
            <div class="wrap-img">
               <img class="item__img" src="img/item-photo-2.png" alt="item-photo">
               <div class="block-red">
                  <span class="light-red"></span>
               </div>
            </div>
            <p class="item__text">Случайный шум или перемена
               направления ветра пугают зверя
            </p>
         </div>
         <div class="item wow fadeInDown" data-wow-delay="0.4s">
            <div class="wrap-img">
               <img class="item__img" src="img/item-photo-3.png" alt="item-photo">
               <div class="block-red">
                  <span class="light-red"></span>
               </div>
            </div>
            <p class="item__text">Потерял терпение<br> и прикормленный
               тобой зверь стал добычей
               другого охотника</p>
         </div>
         <div class="item wow fadeInDown" data-wow-delay="0.5s">
            <div class="wrap-img">
               <img class="item__img" src="img/item-photo-4.png" alt="item-photo">
               <div class="block-red">
                  <span class="light-red"></span>
               </div>
            </div>
            <p class="item__text">Чтобы ты не делал,<br>
               а друзья-охотники
               охотятся лучше</p>
         </div>
         <div class="item wow fadeInDown" data-wow-delay="0.6s">
            <div class="wrap-img">
               <img class="item__img" src="img/item-photo-5.png" alt="item-photo">
               <div class="block-red">
                  <span class="light-red"></span>
               </div>
            </div>
            <p class="item__text">Жена ворчит из-за отсутствия
               добычи и не хочет пускать<br>
               на охоту</p>
         </div>
         <div class="item wow fadeInDown" data-wow-delay="0.7s">
            <div class="wrap-img">
               <img class="item__img" src="img/item-photo-6.png" alt="item-photo">
               <div class="block-red">
                  <span class="light-red"></span>
               </div>
            </div>
            <p class="item__text">Стоит один раз промазать<br>
               и спугнуть животное, второго
               шанса уже не будет</p>
         </div>
      </div>
   </div>
</section>