<section class="order">
    <div class="container">
        <h2 class="order__banner title wow fadeInDown">Как заказать
            <span>Hunt Expert</span>
        </h2>
        <div class="order__preferences">
            <div class="order__preference wow fadeInDown" data-wow-delay="0.2s">
                <img src="img/order-item1.png" alt="preference1">
                <h6 class="order__preference-title">Быстро</h6>
                <p class="order__preference-text">Заполнить форму</p>
            </div>
            <div class="order__preference wow fadeInDown" data-wow-delay="0.3s">
                <img src="img/order-item2.png" alt="preference2">
                <h6 class="order__preference-title">Удобно</h6>
                <p class="order__preference-text">Наш оператор перезвонит
                    <span>и согласует</span> все детали
                </p>
            </div>
            <div class="order__preference wow fadeInDown" data-wow-delay="0.4s">
                <img src="img/order-item3.png" alt="preference3">
                <h6 class="order__preference-title">Без предоплат</h6>
                <p class="order__preference-text">Оплата только после
                    <span>получения товара</span>
                </p>
            </div>
        </div>
    </div>
</section>