<div class="ever-popup-build">
   <div class="my-popup" id="cloneThis">
      <div class="popup__wrap">
         <div class="img">
            <img src="img/logo.png" alt="logo" class="logo" />
            <img src="img/popup.png" alt="product" />
         </div>
         <!-- =include form.html -->
      </div>
   </div>
</div>