<section class="reviews">
  <div class="container">
    <h2 class="title reviews__title wow fadeInDown">
      Реальные отзывы охотников, испытавших&nbsp; <br> <span class="red">Hunt Expert</span>
    </h2>
    <div class="reviews__slider js_slider-reviews">
      <div class="slide">
        <img src="img/review-1.jpg" alt="review-1" class="photo" />
        <div class="name">Егор Анисимов, 35 лет</div>
        <i class="fico fico-balance"></i>
        <p class="spoil">
          Лось <span class="red">360 кг</span><br />
          за два часа охоты
        </p>
        <p class="desc">
          Я помню как я в детстве с батей ходил на лося и разливал из бутылочки
          звериную мочу. Тогда специальных средств не было, использовали, что
          могли. Сейчас, понятное дело, все стало намного проще.<span class="bold">
            Беру на охоту “Hunt&nbsp;Expert” постоянно и везет мне всегда
            по-крупному</span>.
        </p>
      </div>
      <div class="slide">
        <img src="img/review-2.jpg" alt="review-2" class="photo" />
        <div class="name">Александр Тихонов, 42 года</div>
        <i class="fico fico-balance"></i>
        <p class="spoil">
          Кабан <span class="red">83 кг</span><br />
          за 3 часа охоты
        </p>
        <p class="desc">
          Я люблю открывать для себя новое. Новые методы, новые приманки - это
          все помогает мне развиваться, как охотнику. Если человек будет
          топтаться на месте, то другие уйдут вперед, освоят новые техники и
          новые приманки. Звери тоже становятся хитрее и не всегда "дедовскими"
          методами их можно поймать.
        </p>
      </div>
      <div class="slide">
        <img src="img/review-3.jpg" alt="review-3" class="photo" />
        <div class="name">Борис Коршунов, 32 года</div>
        <i class="fico fico-balance"></i>
        <p class="spoil">
          Олень <span class="red">100 кг </span><br />
          за 3,5 часа охоты
        </p>
        <p class="desc">
          Вообще, мне казалось, что отсос петрович меня преследует. Делаю тоже
          самое, что и остальные, собаки у меня хорошие, а хрен что-то добуду.
          Жаба давила страшно. А бабла лишнего не было, чтобы техники какой-то
          прикупить крутой.<br>&nbsp;А потом нашел “Hunt&nbsp;Expert”.<br>&nbsp;С этой хренью жизнь у
          меня - малина. Пришел, зверей приманил, отстрелялся - мясом обеспечен!
          Хрен я другим охотникам расскажу про эту приманку.
        </p>
      </div>
      <div class="slide">
        <img src="img/review-4.jpg" alt="review-4" class="photo" />
        <div class="name">Алексей Добронравов, 45 лет</div>
        <i class="fico fico-balance"></i>
        <p class="spoil">
          Олень <span class="red">180 кг</span><br />
          за 3 часа охоты
        </p>
        <p class="desc">
          Меня теперь все друзья-охотники зовут хапугой. Я ржу)) Ведь было бы за
          что. Я щас с этим Hunt Expert особо не парюсь, за часов пять
          гарантированную добычу имею и не мелкую. Нахожу место укромное,
          поджигаю эти таблеточки - горят они хорошо, даже в дождь горят. Потом
          сажусь и жду, пока животинка какая придет. Реально, сразу зверье
          появляется. То олень, то кабан. И я спокойно на расслабоне их снимаю.
          Красота! В первый же раз возвращался домой с оленинкой, килограмм на
          100.
        </p>
      </div>
      <div class="slide">
        <img src="img/review-5.jpg" alt="review-5" class="photo" />
        <div class="name">Константин Гурский, 47 лет</div>
        <i class="fico fico-balance"></i>
        <p class="spoil">
          4 трофея на <span class="red">475 кг</span><br />
          за день охоты
        </p>
        <p class="desc">
          У меня охота - расслабон на весь год. Раньше с манком ходил или
          прикорм подбирал. Теперь все валяется без дела. А добычи стало больше!
          Как я делаю, прихожу (мне теперь все равно, точка это или не точка)
          подразнил зверя “Hunt&nbsp;Expert”, прямо под нос ему. И пошла жара! Вот в
          прошлые выхи что было! Бой был знатный. Два кабана, олениха и две
          косули!
        </p>
      </div>
    </div>
  </div>
</section>