<section class="usage">
    <div class="container">
        <!--<div class="usage-container">-->
        <h2 class="usage__banner title wow fadeInDown">Как работает приманка <span>Hunt Expert</span></h2>
        <div class="usage__items-box">
            <div class="usage__item-case wow fadeInDown" data-wow-delay="0.2s">
                <img src="img/usage-item-1.png" alt="item1">
                <div class="usage__item-number block-red">
                    <span class="light-red"></span>
                </div>
                <p class="usage__item-text -perfect-padding">
                    Благодаря содержанию половых желез
                    диких копытных, <span>крупная дичь
                        <span>в радиусе 10 км</span></span> улавливает запах
                    &nbsp;и&nbsp;направляется к его источнику
                </p>
            </div>
            <div class="usage__item-case wow fadeInDown" data-wow-delay="0.3s">
                <img src="img/usage-item-2.png" alt="item2">
                <div class="usage__item-number block-red">
                    <span class="light-red"></span>
                </div>
                <p class="usage__item-text">
                    <span class="usage__item-text-red">Зверь прекращает улавливать запах
                        охотника</span> и теряет бдительность
                    благодаря маскирующим свойствам
                    порошка крови марала,
                    <span class="usage__text-nowrap">мускусу бобра и куницы</span>

                </p>
            </div>
            <div class="usage__item-case wow fadeInDown" data-wow-delay="0.4s">
                <img src="img/usage-item-3.png" alt="item3">
                <div class="usage__item-number block-red">
                    <span class="light-red"></span>
                </div>
                <p class="usage__item-text">
                    <span>Животное успокаивается, не делает
                        резких движений</span> благодаря чабрецу,
                    коре лиственницы и ивы, каменному
                    маслу, и <span>становится легкой добычей</span>
                </p>
            </div>
        </div>
        <p class="usage__additional-info wow fadeInDown" data-wow-delay="0.45s">
            Средство <span>Hunt Expert</span> состоит только из натуральных компонентов.
            Безопасно для животных и никак <span>не влияет на качество добытого мяса.</span>
        </p>
        <!--</div>-->
    </div>
</section>