.advantages
	padding-bottom: 54px
	+r(991)
		padding-bottom: 26px
	+r(480)
		padding-bottom: 15px
	.row
		+r(767)
			padding: 0 10px
	&__title
		text-align: center
		max-width: 950px
		margin: auto
		background: url('../img/gun.png') no-repeat center top
		height: 145px
		margin-bottom: 104px
		position: relative
		z-index: 3
		+r(1199)
			font-size: 37px
			margin-bottom: 30px
		+r(991)
			background: none
			font-size: 34px
		+r(767)
			font-size: 29px
			margin-bottom: 34px
			line-height: 1.2
		+r(480)
			background: none
			margin-bottom: 0
			max-width: 100%
			font-size: 22px
			line-height: 1.2
			height: auto
		.big
			font-size: 52px
			font-weight: 700
			+r(767)
				font-size: 42px
			+r(480)
				font-size: 32px
	&__content
		display: flex
		justify-content: space-between
		margin-bottom: 104px
		+r(1199)
			margin-bottom: 50px
		+r(991)
			flex-direction: column
			margin-bottom: 0
		.product
			background: url('../img/adv__back.png') no-repeat center
			background-size: contain
			max-width: 560px
			width: 100%
			position: relative
			top: -97px
			+r(991)
				max-width: 100%
				position: relative
				top: 0
				margin: 0 auto 90px
			+r(767)
				top: -35px
				margin: 0 auto 55px
			+r(480)
				position: static
				background: none
				margin: 0 auto 23px
			&__photo
				position: absolute
				top: 61px
				left: 45%
				transform: translateX(-50%)
				max-width: 439px
				width: 100%
				z-index: 2
				+r(991)
					position: inherit
					left: 50%
					max-width: 400px
				+r(767)
					max-width: 343px
				+r(480)
					position: static
					transform: none
					max-width: 300px
		.col
			+r(991)
				display: flex
				flex-wrap: nowrap
				justify-content: center
			+r(480)
				display: block
				text-align: center
				margin: auto
			&--left
				text-align: right
				+r(991)
					order: 1
					text-align: left
				+r(767)
					margin-bottom: 15px
				.item
					width: 280px
					max-width: 100%
					+r(991)
						width: 300px
					+r(575)
						width: 280px
						+nlt
							margin-right: 20px
					+r(480)
						+nlt
							margin-right: 0
					&:nth-child(1)
						margin-bottom: 15px
						+r(767)
							margin-bottom: 0
					&__title
						padding-right: 56px
						+r(991)
							padding-right: 0
							padding-left: 50px
						+r(575)
							text-align: center
							padding-left: 0
							padding-top: 50px
						.fico
							right: 0
							+r(991)
								left: -10px
							+r(480)
								right: auto
								left: 50%
								transform: translateX(-50%)
						.fico-adv-ico-1
							+r(575)
								top: 10px
					&__text
						padding-right: 56px
						+r(991)
							padding-right: 0
							padding-left: 50px
						+r(575)
							padding-left: 0
			&--right
				+r(767)
					margin-bottom: 25px
				.item
					width: 312px
					max-width: 100%
					+r(991)
						width: 300px
					+r(575)
						width: 280px
						+nlt
							margin-right: 20px
					+r(480)
						+nlt
							margin-right: 0
					&:nth-child(1)
						margin-bottom: 15px
						+r(767)
							margin-bottom: 0
					&__title
						padding-left: 50px
						+r(575)
							text-align: center
							padding-left: 0
							padding-top: 41px
						.fico
							left: 0
							+r(575)
								left: 50%
								transform: translateX(-50%)
					&__text
						padding-left: 50px
						+r(575)
							padding-left: 0
		.item
			min-height: 170px
			+r(1199)
				min-height: 160px
			+r(767)
				min-height: 100px
			+r(480)
				min-height: 130px
				br
					display: none
				&-1, &-2, &-3, &-4
					&::after
						display: none
			&-1, &-2, &-3, &-4
				position: relative
				&::after
					content: ''
					display: block
					position: absolute
					width: 100%
					z-index: 1
				+r(991)
					&::after
						display: none
			&-1
				&::after
					+sprite($line-ad1)
					left: 277px
					top: 0
			&-2
				&::after
					+sprite($line-ad2)
					left: 270px
					top: 21px
			&-3
				&::after
					+sprite($line-ad3)
					right: 307px
					top: 0
			&-4
				&::after
					+sprite($line-ad4)
					right: 307px
					top: -15px
			&__title
				font-size: 21px
				font-weight: 500
				margin-bottom: 15px
				position: relative
				+r(1199)
					font-size: 20px
				+r(767)
					font-size: 18px
				+r(480)
					margin-bottom: 8px
					font-size: 16px
				.fico
					position: absolute
					color: $brownish-red
					bottom: 0
					+r(575)
						top: 0
					&-adv-ico-1
						font-size: 37px
					&-adv-ico-2
						font-size: 44px
					&-adv-ico-3
						font-size: 35px
					&-adv-ico-4
						font-size: 35px
			&__text
				font-size: 17px
				line-height: 1.53
				+r(1199)
					font-size: 16px
				+r(991)
					br
						display: none
				+r(767)
					font-size: 14px
					line-height: 1.2
	&__result
		text-align: center
		font-weight: 500
		font-size: 22px
		color: $black
		+r(767)
			font-size: 18px
			max-width: 380px
			margin: auto
		+r(480)
			margin-top: 15px
		.big
			font-weight: 700