.best-bg {
  width: 100%;
  overflow: hidden;
}

.container-best {

  display: block;
  position: relative;

  &:before {
    display: block;
    position: absolute;
    width: 523px;
    height: 761px;
    content: "";
    background: url("../img/best-good-hunter(cut).png") no-repeat;
    top: 235px;
    left: 3px;
    z-index: 1;
  }

  &:after {
    display: block;
    position: absolute;
    width: 523px;
    height: 761px;
    content: "";
    background: url("../img/best-best-hunter.png") no-repeat;
    top: 230px;
    right: -40px;
    z-index: 1;
  }

}

.best {
  display: block;
  width: 100%;
  min-height: 993px;
  margin: 0 auto;
  background: url("../img/best-bg-green-no-lines.png") no-repeat;
  background-size: 2560px 929px;
  background-position-x: -330px;
  &:after {
    display: block;
    position: absolute;
    padding-top: 68px;
    width: 100%;
    height: 138px;
    content: "";
    background: center bottom url("../img/best-frame-bottom.png") no-repeat;
    z-index: 2;
  }

  &__main-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: $beige;
  }

  &__banner {
    max-width: 812px;
    margin: 0 auto;
    padding-top: 125px;
    padding-bottom: 85px;
    font-family: $title-font;
    color: $beige;
    text-align: center;
  }

  &__hunters {
    display: block;
    width: 100%;
    max-width: 435px;
    margin-left: 316px;
  }

  &__best-hunter-info {
    display: block;
    position: relative;
    margin-left: auto;
    padding-bottom: 95px;
    max-width: 400px;
    text-align: right;
    z-index: 1;
  }

  &__best-hunter-title {
    display: block;
    margin-left: auto;
    max-width: 251px;
    padding-right: 30px;
    color: $reddish;
    text-align: right;
    font-size: 23px;
    font-weight: 700;
    line-height: 32px;

    &:before {
      display: block;
      position: absolute;
      width: 27px;
      height: 27px;
      content: "";
      background: url("../img/aim.svg") no-repeat;
      background-size: 27px;
    }

    &:after {
      display: block;
      position: absolute;
      width: 346px;
      height: 165px;
      content: "";
      background: url("../img/best-line.png") no-repeat;
      margin-top: -19px;
      margin-left: 12px;
      z-index: 0;
    }
  }

  &__best-hunter-description {
    position: relative;
    padding-top: 3px;
    padding-right: 23px;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    z-index: 1;

    span {
      white-space: nowrap;
    }
  }

  &__best-hunter-postcriptum {
    max-width: 240px;
    margin-right: 5px;
    margin-left: auto;
    padding-top: 43px;
    letter-spacing: 0.5px;
    text-align: left;
    font-style: italic;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;

    span {
      color: $reddish;
    }
  }

  &__good-hunter-info {
    display: block;
    margin-right: auto;
    max-width: 370px;
    text-align: left;
  }

  &__good-hunter-title {
    display: block;
    margin-right: auto;
    max-width: 220px;
    color: $reddish;
    text-align: left;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;

    &:before {
      display: block;
      position: absolute;
      width: 282px;
      height: 87px;
      content: "";
      background: url("../img/best-good-line.png") no-repeat;
      margin-top: -73px;
      margin-left: -78px;
      z-index: 0;
    }

    &:after {
      display: block;
      width: 27px;
      height: 27px;
      position: absolute;
      margin-top: -30px;
      margin-left: 190px;
      content: "";
      background: url("../img/aim.svg") no-repeat;
      background-size: 27px;
    }
  }

  &__good-hunter-description {
    position: relative;
    padding-top: 2px;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    z-index: 1;

    span {
      white-space: nowrap;
    }
  }
}
/*@media screen and (min-width: 1960px) {
  .best {
    background-size: cover;
    background-position-x: 0;
    background-position-y: -68px;
  }
}*/
@media all and (-ms-high-contrast: none) {
  .best__banner {
    max-width: unset;
    width: 812px;
  }
}
@media all and (max-width: 2560px) {
  .best {
    background-size: 100% 939px;
    background-position-x: 0;
    background-position-y: 0px;
  }
}

@media all and (max-width: 2312px) {
  .best {
    background-size: 2219px 904px;
    background-position-x: -17px;
    background-position-y: 31px;
  }
}
@media all and (max-width: 1920px) {
  .best {
    background-size: 2560px 929px;
    background-position-x: -330px;
  }
}

@media all and (max-width: 1680px) {
  .best {
    background-position-x: -365px;
  }
}

@media all and (max-width: 1280px) {
  .best {
    background-position-x: -430px;
  }

  .container-best:after {
    right: 0;
  }

}

@media all and (max-width: 1199px) {
  .best {
    min-height: 920px;
    &:after {
    height: 115px;
  }
    &__banner {
      padding-bottom: 55px;
    }
    &__hunters {
      max-width: 385px;
      margin: 0 auto;
    }

    &__best-hunter-title {
      &:after {
        display: none;
      }
    }

    &__good-hunter-title {
      &:before {
        display: none;
      }
    }
  }

  .container-best {
    &:before {
      width: 220px;
      height: 561px;
      background-size: contain;
      top: 440px;
      left: 0;
    }

    &:after {
      width: 323px;
      height: 561px;
      background-size: contain;
      top: 450px;
      right: 0;
    }
  }
}

@media all and (max-width: 991px) {
  .best-bg {
    padding-bottom: 0;
  }

  .best {
    min-height: 840px;
    background-position-y: -16px;
    &__banner {
      font-size: 34px;
      padding-top: 100px;
      padding-bottom: 40px;
      margin-top: -40px;
      position: relative;
      z-index: 5;
    }

    &__hunters {
      max-width: 685px;
      margin: 0 auto;
    }

    &__best-hunter-info {
      max-width: 320px;
      padding-bottom: 250px;
      margin-right: auto;
      margin-left: 0;
      padding-right: 0;
      text-align: left;
    }

    &__best-hunter-title {
      margin-right: auto;
      margin-left: 0;
      padding-right: 0;
    }

    &__best-hunter-description {
      padding-right: 0;
    }

    &__best-hunter-postcriptum {
      margin-left: 0;
    }

    &__good-hunter-info {
      max-width: 260px;
      position: relative;
      margin-top: -560px;
      margin-right: 0;
      margin-left: auto;
      text-align: right;
    }

    &__good-hunter-title {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .container-best {
    &:before {
      transform: rotateY(180deg);
      width: 170px;
      top: 582px;
      /*width: 134px;
      top: 500px;*/
      //left: 100px;
      height: 220px;
      left: unset;
      right: 110px;
    }

    &:after {
      transform: rotateY(180deg);
      width: 170px;
      top: 582px;
      //width: 190px;
      //top: 187px;
      //right: 98px;
      right: unset;
      left: 75px;
    }
  }

  .best:after {
    background: url('../img/best-frame-bottom_mobile.png') no-repeat center bottom;
    height: 93px;
    padding-top: 0;
    margin-top: 400px;
  }
}

@media all and (max-width: 767px) {
  .best {
    min-height: 659px;
    &:after {
      padding-top: 0;
      margin-top: 267px;
    }

    &__banner {
      font-size: 21px;
      padding-bottom: 20px;
      margin-top: -50px;
    }

    &__best-hunter-info {
      max-width: 260px;
      padding-bottom: 250px;
    }
    &__good-hunter-info {
      max-width: 207px;
      position: relative;
      margin-top: -519px;
    }

    &__best-hunter-title,
    &__good-hunter-title {
      font-size: 20px;
    }

    &__best-hunter-title {
      max-width: 205px;
    }
    &__good-hunter-title:after {
      margin-left: 178px;
    }

    &__best-hunter-description,
    &__good-hunter-description {
      max-width: 260px;
      font-size: 16px;
      line-height: 21px;
    }

    &__good-hunter-description {
      margin-left: auto;
      padding-left: 20px;
    }

    &__best-hunter-postcriptum {
      padding-top: 10px;
      padding-right: 23px;
    }
  }

  .container-best {
    &:before {
      height: 220px;
      transform: rotateY(180deg);
      width: 150px;
      top: 400px;
      left: unset;
      right: 110px;

    }

    &:after {
      transform: rotateY(180deg);
      width: 150px;
      top: 400px;
      right: unset;
      left: 75px;
    }
  }
}

@media all and (max-width: 480px) {
  .best-bg {
    padding-bottom: 0;
  }

  .best {
    min-height: 820px;
    &:after {
      margin-top: 197px;
      padding-top: 0;
      background-position-y: -5px;
    }

    &__banner {
      max-width: 320px;
    }

    &__best-hunter-description {
      max-width: 273px;
      padding-bottom: 10px;
      line-height: 21px;
    }
    &__good-hunter-description {
      line-height: 21px;
    }
    &__best-hunter-postcriptum {
      padding-top: 0;
      margin-right: 0;
      font-size: 18px;
    }
    &__good-hunter-info {
      margin-top: -239px;
    }
  }

  .container-best {
    &:after {
      top: 600px;
      left: 10px;
    }

    &:before {
      top: 600px;
      right: 10px;
    }
  }

  .best:after {
    height: 63px;
  }
}