body
	background: #e3c69e
	font-family: 'Roboto', Arial, Helvetica, sans-serif
	font-size: 14px

.title
	font-family: 'Vollkorn SC', 'Times New Roman', Times, serif
	font-size: 40px
	font-weight: 900
	line-height: 1.25
	color: $charcoal
	text-transform: uppercase
.red
	color: $reddish
.brownish-red
	color: $brownish-red
.block-red
	width: 61px
	height: 51px
	border-radius: 4.1px
	background-color: #862a1c
	position: relative
	.light-red
		position: absolute
		top: 5px
		right: -3px
		display: block
		background-color: #9b3020
		width: 61px
		height: 51px
		border-radius: 4.1px
		transform: skewX(-18deg)

// Font icons
.fico
	display: inline-block
	font-size: 3rem
	&::before
		display: block
.form
	width: 100%
	padding: 17px 17px 17px 22px
	border-radius: 5px
	box-shadow: 5px 0.1px 81px 0 rgba(63, 63, 56, 0.75)
	background-color: $beige
	position: relative
	.sale
		position: absolute
		display: flex
		align-items: center
		justify-content: center
		top: -46px
		left: 50%
		transform: translateX(-50%)
		background: url('../img/sale.png') no-repeat center top
		width: 58px
		height: 58px
		font-family: 'Vollkorn SC', 'Times New Roman', Times, serif
		color: $beige
		font-weight: 900
		&__dash
			font-size: 19px
		&__value
			font-size: 28px
		&__persent
			font-size: 18px
	&::after
		content: ''
		display: block
		position: absolute
		right: -52px
		top: 117px
		+sprite($line)
	+r(1280)
		&::after
			display: none
	&__title
		text-align: center
		font-size: 17px
		color: #222222
		line-height: 1.18
		font-weight: 500
		position: relative
		margin-bottom: 13px
		padding: 17px 12px 15px 17px
		margin-top: -17px
		margin-right: -17px
		margin-left: -17px
		border-bottom: 1px solid #c9ae8a
		overflow: hidden
		.icon
			position: absolute
			width: 54px
			height: 54px
			right: -15px
			top: -15px
		.date
			color: #9b3020
	&__price
		display: flex
		justify-content: center
		align-items: center
		position: relative
		padding-bottom: 15px
		margin-bottom: 13px
		padding: 0 17px 15px 17px
		margin-right: -17px
		margin-left: -17px
		border-bottom: 1px solid #c9ae8a
		.new, .old
			text-align: center
		.old
			margin-right: 40px
			&__text
				font-size: 13px
				color: #1c1c16
				line-height: 1.69
				margin-bottom: 6px
			&__value
				font-family: 'Vollkorn SC', 'Times New Roman', Times, serif
				font-size: 43px
				font-weight: 700
				color: #4a3e2d
				margin-bottom: 5px
				line-height: 0.51
				position: relative
				&::after
					content: ''
					display: block
					position: absolute
					transform-origin: 100% 0
					width: 100%
					top: 38px
					border-bottom: 2px solid #9b3020
					transform: rotate(14deg)
			&__current
				font-size: 14px
				color: #2f2f2c
				display: block
				line-height: 1.57
		.new
			&__text
				font-family: 'Ubuntu', Arial, Helvetica, sans-serif
				font-size: 10px
				color: #ffffff
				padding: 4px
				width: 40px
				margin: auto
				border-radius: 5px
				background-color: #9b3020
				margin-bottom: 6px
			&__value
				font-family: 'Vollkorn SC', 'Times New Roman', Times, serif
				font-size: 47px
				color: #1c1c16
				font-weight: 700
				display: block
				line-height: 0.47
				position: relative
				z-index: 11
				&::after
					content: ''
					display: block
					position: absolute
					width: 102px
					height: 35px
					border-radius: 5px
					background-color: #c9ae8a
					z-index: -1
					top: 0px
					left: 50%
					transform: skewY(-5deg) translateX(-50%)
			&__current
				font-size: 14px
				color: #2f2f2c
				line-height: 1.57
				position: relative
				z-index: 11
		.note
			font-size: 16px
			color: black
			z-index: 14
			position: relative
			display: inline-flex
	.leftovers
		text-align: center
		font-size: 18px
		line-height: 1.22
		color: #1a1a1a
		font-weight: 500
		margin-bottom: 14px
		.lastpack
			color: #9b3020
		small
			display: block
			font-size: 14px
			line-height: 1.57
			color: #4a3e2d
			font-weight: normal
	.input-wrap
		width: 224px
		margin: auto
		position: relative
		margin-bottom: 10px
		transition: .5s linear
		&:last-of-type
			margin-bottom: 15px
		.fico
			position: absolute
			left: 17px
			top: 50%
			transform: translateY(-50%)
			font-size: 23px
			color: #89755a
		.input
			padding-left: 52px
			padding-right: 10px
			width: 100%
			box-sizing: border-box
			height: 61px
			border-radius: 5px
			box-shadow: 5px 0.1px 7px 0 rgba(224, 217, 206, 0.75), inset 6px 0.1px 24px 0 rgba(248, 221, 183, 0.75)
			background-color: #ffffff
			border: none
			outline: none
			font-size: 16px
			line-height: 3.13
			transition: .8s
			color: #444444
			+placeholder
			font-family: 'Roboto', Arial, Helvetica, sans-serif
			&:hover
				box-shadow: 1px 1px 3px #9b3020, inset 1px 1px 3px #9b3020
			&:focus
				box-shadow: 1px 1px 3px #9b3020, inset 1px 1px 3px #9b3020
.form
	.btn
		border: none
		cursor: pointer
		border-radius: 5px
		background: #862a1c
		width: 224px
		margin: auto
		height: 61px
		position: relative
		z-index: 0
		outline: none
		padding: 16px 5px
		font-family: 'Vollkorn SC', 'Times New Roman', Times, serif
		font-size: 24px
		font-weight: 900
		color: $beige
		line-height: 1
		display: block
		overflow: visible
		margin-bottom: 7px
		.icon
			position: absolute
			width: 54px
			height: 54px
			left: -20px
			top: -11px
			opacity: 0.29
			color: $beige
		&:hover
			&::after
				background-color: #b93521
		&::after
			background-color: #9b3020
			transform: skewX(-20deg)
			content: ''
			position: absolute
			display: block
			left: 0
			right: 0
			top: 6px
			bottom: -6px
			border-radius: 8px
			transition: all .3s
			z-index: -1
		&::before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			background: #862a1c
			z-index: -1
			border-radius: 5px
		.small
			display: block
			color: rgba(227, 198, 158, 0.65)
			font-size: 16px
			font-weight: normal
			font-family: 'Roboto', Arial, Helvetica, sans-serif
		&__unskew
			display: block
			position: relative
			z-index: 1
	.foodnote
		text-align: center
		display: block
		margin-bottom: 18px
		margin-top: 10px
	.protection
		position: relative
		padding-left: 25px
		font-size: 15px
		color: #444444
		display: block
		max-width: 213px
		width: 100%
		margin: auto
		.fico
			position: absolute
			color: $reddish
			position: absolute
			left: -6px
			top: 50%
			transform: translateY(-50%)
			font-size: 20px
.arr
	width: 61px
	height: 51px
	display: flex
	align-items: center
	justify-content: center
	cursor: pointer
	transition: background-color .3s
	position: absolute
	z-index: 1
	top: 43%
	transform: translateY(-50%)
	+r(767)
		top: 310px
	+r(480)
		top: 267px
		width: 51px
		height: 41px
	&:hover
		&::after
			background-color: #b93521
	&::after
		background-color: #9b3020
		transform: skewX(-20deg)
		content: ''
		position: absolute
		display: block
		left: 0
		right: 0
		top: 6px
		bottom: -6px
		border-radius: 8px
		transition: all .3s
		z-index: -1
	&::before
		content: ''
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		background: #862a1c
		z-index: -1
		border-radius: 5px
	&--right
		right: -100px
		+r(1440)
			right: 0
	&--left
		left: -100px
		+r(1440)
			left: 0
	.fico
		font-size: 28px
		color: $beige
		position: absolute
		top: 16px
		left: 50%
		transform: translateX(-50%)
		+r(480)
			font-size: 20px
		&.slick-arrow
			position: absolute
			top: 43%
			transform: translateY(-50%)
			cursor: pointer
			font-size: 15px
			z-index: 1

select:-moz-focusring, a:-moz-focusring
	color: transparent
	text-shadow: 0 0 0 #000

*
	&:focus, &:visited, &:active, &:hover
		outline: 0 !important

a
	outline: 0 !important
	&:focus, &:visited, &:active, &:hover
		outline: 0 !important

*::-moz-focus-inner
	border: 0
	outline: none

::-ms-clear
	display: none

ul
	list-style: none

//popup style
.ever-popup
	+r(999)
		display: none !important
	&__close
		right: 10px !important
		top: 10px !important
		&::after, &::before
			background: $reddish !important
			height: 1px !important
			width: 23px !important
			top: 50% !important
			transform-origin: 0 100% !important
		&::after
			transform: rotate(-45deg) translate(-50%, 50%) !important
		&::before
			transform: rotate(45deg) translate(-50%, 50%) !important
	&__inner
		padding-top: 0 !important
		min-width: 789px
	&__body
		background: url('../img/popup__back.jpg') no-repeat center top
		background-size: cover
		padding: 60px 70px 20px 20px
		border-radius: 10px
.popup
	&__wrap
		display: flex
		justify-content: space-between
		+r(991)
			flex-direction: column
			align-items: center
			padding: 10px
			min-width: 310px
		.img
			max-width: 410px
			text-align: center
			+r(991)
				padding-left: 17px
			.logo
				margin-bottom: 56px
			img
				+r(991)
					margin-bottom: 40px
					width: 271px
		.form
			width: 269px
