.effective {
  display: block;
  width: 100%;
  background: center 624px url("../img/best-frame-top.png") no-repeat;

  &__banner {
    max-width: 790px;
    margin: 21px auto 37px;
    padding: 50px 0 10px;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    color: $black;
    background: url(../img/gun.png) center top no-repeat;
    background-position: 150px 18px;

    span {
      color: $brownish-red;
    }
  }

  &__items-container {
    display: flex;
    justify-content: space-between;
    max-width: 1190px;
    flex-wrap: wrap;
    margin: 0 auto 0;
    padding-bottom: 189px;
    counter-reset: section;
  }

  &__items-container &__item:nth-child(2) {
    &:after {
      display: block;
      position: absolute;
      width: 27px;
      height: 21px;
      content: "";
      background: url("../img/effective-arrow.svg") no-repeat;
      margin-top: -231px;
      margin-left: -58px;
    }
  }

  &__items-container &__item:nth-child(3) {
    &:after {
      display: block;
      position: absolute;
      width: 27px;
      height: 21px;
      content: "";
      background: url("../img/effective-arrow.svg") no-repeat;
      margin-top: -231px;
      margin-left: -46px;
    }
  }

  &__item {
    display: block;
    max-width: 333px;
    margin: 0;
    text-align: center;
  }

  &__item-number {
    margin: -72px 0 38px;
    position: relative;
    color: $beige;
    font-family: $title-font;
    font-size: 36px;
    line-height: 40.5px;
  }

  .block-red {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    &:after {
      padding-top: 4px;
      padding-left: 3px;
      line-height: 51px;
      width: 61px;
      content: counter(section);
      counter-increment: section;
      display: block;
      position: absolute;
      font-family: 'Vollkorn SC', 'Times New Roman', Times, serif;
      font-size: 36.5px;
      font-weight: 900;
      color: $beige;
    }
  }

  &__item-info {
    max-width: 145px;
    margin: 0 auto;
    padding-top: 22px;
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    color: $black;

    &.-custom-width {
      max-width: 315px;
    }

    span {
      white-space: nowrap;
    }
  }
}

@media all and (max-width: 1199px) {
  .effective {
    background-position-y: 840px;

    &__banner {
      margin: 0 auto 20px;
      padding: 50px 0 23px;
      font-size: 30px;
      line-height: 45px;
      background-size: 50%;
      background-position: center 25px;
    }

    &__items-container {
      justify-content: space-around;
      padding-bottom: 90px;
    }

    &__items-container &__item:nth-child(2),
    &__items-container &__item:nth-child(3) {
      &:after {
        display: none;
      }
    }

    &__item {
      margin: 0 auto;
    }

    &__item-info {
      padding-top: 10px;
    }
  }
}

@media (max-width: 767px) {
  .effective {
    background-position-y: 1085px;

    &__banner {
      margin: 0 auto 20px;
      padding: 0;
      font-size: 23px;
      line-height: 30px;
      background: none;
    }

    &__items-container {
      padding-bottom: 90px;
    }

    &__item-info {
      padding: 22px 0;
      padding-top: 0px;
    }
  }
}

@media (max-width: 480px) {
  .effective {
    background-position-y: 937px;

    &__banner {
      margin: 0 auto 20px;
    }

    &__items-container {
      padding-bottom: 75px;
    }

    &__item {
      max-width: 300px;

      img {
        width: 270px;
        margin: 0 auto;
      }
    }

    &__item-info {
      font-size: 17px;
      line-height: 20px;
    }
  }
}