.expert
	padding-bottom: 60px
	position: relative
	overflow: hidden
	+r(1199)
		padding-bottom: 10px
		padding-top: 20px
	+r(767)
		padding-bottom: 0
		padding-top: 0
	+r(480)
		padding-top: 10px
	&::after
		content: ''
		display: block
		position: absolute
		right: -140px
		top: 100px
		+sprite($big-aim)
		z-index: -1
	&__title
		text-align: center
		line-height: 145px
		background: url('../img/gun.png') no-repeat center top
		+r(1199)
			font-size: 36px
			background-size: 34%
			line-height: 95px
		+r(991)
			font-size: 34px
		+r(767)
			background: none
			line-height: 1
			margin-bottom: 15px
			font-size: 30px
		+r(480)
			font-size: 24px
	&__slider
		.slide
			outline: none
			&__title
				font-size: 26px
				font-weight: 500
				text-align: center
				color: #9b3020
				margin-bottom: 54px
				+r(1199)
					margin-bottom: 27px
					font-size: 24px
				+r(991)
					font-size: 22px
				+r(767)
					font-size: 18px
			&__content
				display: flex
				justify-content: center
				+r(1440)
					padding: 0 70px
				+r(1199)
					padding: 0 60px
					display: block
					margin: auto
				+r(767)
					position: relative
					display: block
					padding-bottom: 20px
				+r(480)
					padding: 0 0 20px
			.photo
				text-align: center
				margin-right: 11px
				+r(1440)
					margin: auto 15px auto auto
				+r(1199)
					margin-bottom: 20px
					margin-right: 0
				.pick
					margin-bottom: 44px
					max-width: 100%
					+r(1280)
						width: 500px
						margin-bottom: 30px
					+r(1199)
						margin-bottom: 8px
						margin: auto
					+r(480)
						width: 300px
						margin-bottom: 20px
				.name
					font-size: 24px
					font-weight: 500
					line-height: 1.44
					+r(1199)
						font-size: 22px
				.post
					font-size: 18px
					font-style: italic
					+r(1199)
						font-size: 16px
			.info
				max-width: 563px
				width: 100%
				margin-left: 24px
				+r(1199)
					margin-left: 0
					max-width: 100%
				+r(767)
					height: 250px
					width: 100%
					overflow: hidden
					color: $charcoal
					text-overflow: ellipsis
					content: ""
					position: relative
					&::after
						content: ''
						width: 100%
						height: 100%
						display: block
						position: absolute
						background: linear-gradient(rgba(255,255,255,0.0001) 150px, #e3c69e)
						left: 0
						top: 0
					&--full
						color: $charcoal
						height: auto
						&::after
							display: none
						&~.fico-arrow-down
							transform: rotate(180deg) translateX(50%)
				&__title
					font-size: 20px
					font-weight: 500
					color: $charcoal
					margin-bottom: 35px
					+r(1199)
						font-size: 19px
						text-align: center
						max-width: 700px
						margin: auto auto 12px
					+r(480)
						font-size: 17px
				&__text
					line-height: 1.53
					font-size: 17px
					font-weight: normal
					color: $black
					+r(1440)
						font-size: 16px
					+r(1199)
						font-size: 15px
						text-align: center
					+r(480)
						line-height: 1.2
					+nlt
						margin-bottom: 30px
						+r(1199)
							margin-bottom: 12px
				.brownish-red
					font-weight: 500
	.fico-arrow-down
		display: none
		+r(767)
			display: block
			position: absolute
			font-size: 22px
			color: #862a1c
			bottom: 0
			left: 50%
			transform: translateX(-50%)
			cursor: pointer