.footer
	padding-top: 57px
	padding-bottom: 52px
	+r(1199)
		padding-top: 0px
	+r(991)
		padding: 20px 0
	+r(767)
		padding: 20px 0
	+r(479)
		// padding-bottom: 25px
		// padding-top: 10px
	&__cols
		display: flex
		justify-content: space-between
		+r(767)
			display: block
			text-align: center
	.col
		font-size: 17px
		color: #23231c
		line-height: 1.41
		+r(991)
			font-size: 16px
		+r(767)
			font-size: 15px
		+nlt
			+r(767)
				margin-bottom: 15px
			+r(479)
				margin-bottom: 0
		&--logo
			background: url("../img/svg/everad.svg") no-repeat left center
			background-size: 54px
			padding-left: 78px
			+r(991)
				padding-left: 70px
			+r(767)
				padding-left: 0
				padding-top: 55px
				background-position: top center
		&:nth-of-type(2)
			text-align: center
		&:nth-of-type(3)
			text-align: right
			+r(767)
				text-align: center
		&__item
			a
				text-decoration: none
				color: #23231c
			&--none
				+r(767)
					display: none
	.bold
		font-weight: 500