.header
	background: url(../img/header-cha.jpg) center top no-repeat #e2c49e;
	+r(991)
		padding-bottom: 30px
		background-size: cover
	+r(767)
		background: #2c2c24
	&-bottom
		background: url(../img/header-cha2.jpg) center top no-repeat #e2c49e;
		padding-top: 80px
		+r(991)
			background-position: center -60px
			padding-top: 30px
		+r(767)
			background: #272725;
			padding-top: 0
	&__top
		padding-top: 44px
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 52px
		+r(991)
			flex-direction: column
			align-items: center
			margin-bottom: 20px
		+r(767)
			padding-top: 30px
		+r(480)
			padding-top: 25px
		.wrap-logo
			display: flex
			+r(991)
				margin-bottom: 15px
			+r(480)
				display: block
				text-align: center
				margin-bottom: 8px
		.logo
			margin-right: 21px
			+r(1199)
				margin-right: 17px
			+r(767)
				height: 40px
				margin-right: 0
		.text
			font-size: 16px
			color: $beige
			padding-left: 27px
			position: relative
			line-height: 1.25
			align-self: flex-end
			+r(1199)
				padding-left: 20px
				font-size: 15px
			+r(767)
				margin-left: 10px
			+r(480)
				margin-left: 0
				padding-left: 0
				&::before, &::after
					display: none
			&::before
				content: ''
				display: block
				position: absolute
				height: 40px
				width: 2px
				background-color: #3a3a31
				left: 0
				top: 50%
				transform: translateY(-50%)
			&::after
				content: ''
				display: block
				position: absolute
				width: 0
				height: 0
				border-style: solid
				border-width: 4px 0 4px 7px
				border-color: transparent transparent transparent #3a3a31
				left: 1px
				top: 50%
				transform: translateY(-50%)
		.text-bold
			font-weight: 500
	&__list
		display: flex
		color: $beige
		font-size: 16px
		+r(1199)
			font-size: 15px
		+r(767)
			font-size: 14px
		+r(480)
			display: block
			max-width: 170px
		.item
			padding-left: 40px
			position: relative
			+r(991)
				br
					display: none
			+r(767)
				br
					display: block
			+r(480)
				br
					display: none
			+nlt
				margin-right: 25px
				+r(1199)
					margin-right: 12px
				+r(767)
					margin-right: 15px
				+r(480)
					margin-right: 0
					margin-bottom: 10px
			.fico
				position: absolute
				left: 0
				top: 0
				color: #9b3020
				&-icon-1
					font-size: 27px
				&-icon-2
					font-size: 12px
				&-icon-3
					font-size: 11px
			+r(991)
				.fico
					&-icon-1
						top: -6px
						left: 4px
			+r(767)
				.fico
					&-icon-1
						top: auto
						left: 0
			+r(480)
				.fico
					&-icon-1
						left: 4px
	&__main
		display: flex
		position: relative
		padding-bottom: 200px
		+r(1199)
			padding-bottom: 150px
		+r(991)
			flex-direction: column
			padding-bottom: 40px
			padding-bottom: 25px
		+r(767)
			padding-bottom: 0
		.man
			position: absolute
			bottom: 57px
			left: 57%
			transform: translateX(-50%)
			pointer-events: none
			z-index: 2
			+r(1199)
				max-width: 100%
				width: 360px
				left: 53%
				bottom: 305px
			+r(991)
				left: auto
				transform: none
				right: 0
				top: 193px
			+r(767)
				display: none
		.info
			max-width: 470px
			width: 100%
			+r(991)
				max-width: 100%
			&__title
				color: $beige
				font-size: 50px
				line-height: 0.98
				margin-bottom: 20px
				+r(1199)
					font-size: 44px
				+r(991)
					text-align: center
					font-size: 40px
					margin-bottom: 12px
					br
						display: none
				+r(767)
					font-size: 36px
					margin-bottom: 7px
					br
						display: block
				+r(480)
					font-size: 31px
				.big
					font-size: 75px
					line-height: 0
					+r(991)
						font-size: 64px
					+r(767)
						font-size: 54px
				.big-2
					font-size: 55px
					+r(991)
						font-size: 48px
					+r(767)
						font-size: 40px
			&__text
				font-size: 20px
				line-height: 1.29
				font-weight: 700
				color: $beige
				margin-bottom: 40px
				+r(1199)
					font-size: 18px
				+r(991)
					text-align: center
					margin-bottom: 17px
					br
						display: none
			&__list
				color: $beige
				font-size: 20px
				// font-weight: 700
				line-height: 1.29
				+r(1199)
					font-size: 17px
				+r(991)
					display: flex
					justify-content: space-between
					margin-bottom: 50px
					br
						display: none
				+r(767)
					display: block
					font-size: 15px
					width: 70%
					margin: auto
				.item
					padding-left: 48px
					position: relative
					+r(1199)
						padding-left: 34px
					+r(991)
						max-width: 220px
					+r(767)
						max-width: 100%
						&::after
							top: 50%
							transform: translateY(-50%)
					&::after
						content: ''
						display: block
						position: absolute
						left: 0
						top: 0
						+sprite($icon)
					+nlt
						margin-bottom: 25px
						+r(991)
							margin-bottom: 0
						+r(767)
							margin-bottom: 10px
		.product
			position: absolute
			z-index: 3
			left: 50%
			bottom: -30px
			transform: translateX(-50%)
			+r(1199)
				width: 322px
				max-width: 100%
				bottom: 55px
			+r(991)
				bottom: 13px
				left: 71%
			+r(767)
				position: static
				transform: none
				margin: 0 auto 50px
		.order-form
			width: 269px
			margin-left: auto
			+r(991)
				margin-right: auto
				margin-left: 0
			+r(767)
				margin: auto