.need
	padding-top: 52px
	padding-bottom: 60px
	position: relative
	+r(2560)
		padding-bottom: 30px
	+r(1920)
		padding-bottom: 0
	+r(1199)
		padding-top: 0
	+r(991)
		padding-bottom: 15px
	+r(767)
		padding-bottom: 6px
		padding-top: 20px
	+r(480)
		padding-bottom: 25px
	&::after
		content: ''
		display: block
		position: absolute
		left: -140px
		top: 230px
		z-index: -2
		+sprite($big-aim)
	+r(991)
		&::after
			top: 0
	&__title
		font-size: 34px
		line-height: 1.47
		color: $black
		margin-bottom: 12px
		text-align: center
		+r(1199)
			font-size: 31px
		+r(991)
			font-size: 29px
			line-height: 1
			margin-bottom: 25px
		+r(767)
			margin-bottom: 5px
		+r(480)
			font-size: 25px
		&--bg
			line-height: 145px
			font-size: 40px
			padding: 0 65px
			position: relative
			margin: 0 auto 20px
			max-width: 800px
			background: url('../img/gun.png') no-repeat center top
			+r(1199)
				font-size: 36px
				max-width: 724px
				background-size: 50%
				line-height: 110px
			+r(991)
				background: none
				max-width: 607px
				margin-bottom: 40px
			+r(767)
				margin-bottom: 35px
			&::after, &::before
				content: ''
				display: block
				position: absolute
				top: 47%
				transform: translateY(-50%)
			&::after
				left: 0
				+sprite($left)
			&::before
				right: 0
				+sprite($right)
		.bold
			font-size: 48px
			font-weight: 700
			+r(1199)
				font-size: 42px
			+r(767)
				font-size: 35px
				line-height: 0
	&__record
		display: flex
		justify-content: flex-start
		padding-bottom: 52px
		position: relative
		margin-bottom: 45px
		+r(1199)
			padding-bottom: 45px
			margin-bottom: 30px
		+r(991)
			display: block
			text-align: center
		+r(480)
			padding-bottom: 20px
			margin-bottom: 16px
		&::after, &::before
			content: ''
			display: block
			position: absolute
			left: 0
			right: 0
			background-color: #c9ae8a
		&::after
			height: 2px
			bottom: 5px
		&::before
			height: 4px
			bottom: 0
		.left, .right
			padding-left: 58px
			position: relative
			+r(991)
				padding-left: 0
				padding-top: 50px
			.fico
				position: absolute
				left: 0
				top: 50%
				transform: translateY(-50%)
				color: #9b3020
				&-balance
					font-size: 43px
				+r(991)
					top: 0
					left: 50%
					transform: translateX(-50%)
		.left
			padding-right: 65px
			border-right: 1px solid #c9ae8a
			margin-right: 54px
			position: relative
			+r(991)
				border-right: none
				padding-right: 0
				margin-right: 0
				margin-bottom: 15px
				&::after
					display: none
			+r(479)
				margin-bottom: 20px
			&::after
				content: ''
				display: block
				position: absolute
				width: 0
				height: 0
				border-style: solid
				border-width: 5px 0 5px 9px
				border-color: transparent transparent transparent #c9ae8a
				right: 0
				top: 50%
				transform: translate(100%, -50%)
		.right
			.text
				font-style: italic
		.ttl
			font-size: 18px
			color: #1d1d1d
			font-weight: 500
			line-height: 1.56
			margin-bottom: 7px
			+r(1199)
				font-size: 16px
			+r(479)
				line-height: 1
		.text
			font-weight: 400
			color: $black
			font-size: 18px
			+r(1199)
				font-size: 17px
			+r(480)
				font-size: 15px
		.red-two
			color: #9b3020
			font-weight: 700
	&__list
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		counter-reset: section
		+r(1199)
			justify-content: space-around
		.item
			width: 312px
			text-align: center
			+r(480)
				width: 280px
				margin: auto
			&:nth-of-type(-n+3)
				margin-bottom: 73px
			+r(1199)
				&:nth-of-type(-n+4)
					margin-bottom: 50px
			+r(991)
				&:nth-of-type(-n+4)
					margin-bottom: 32px
			+r(767)
				+nlt
					margin-bottom: 35px
			.wrap-img
				width: 282px
				height: 202px
				border: 3px solid #c9ae8a
				position: relative
				margin: 0 auto 35px
				+r(480)
					width: 270px
				.block-red
					position: absolute
					bottom: 0
					left: 50%
					transform: translate(-50%, 50%)
					.light-red
						&::after
							line-height: 51px
							width: 61px
							content: counter(section)
							counter-increment: section
							display: block
							position: absolute
							font-family: 'Vollkorn SC', 'Times New Roman', Times, serif
							font-size: 36.5px
							font-weight: 900
							color: $beige
							transform: skewX(18deg)
			&__img
				position: absolute
				left: -25px
				top: -20px
				+r(480)
					max-width: 300px
			&__text
				font-size: 19px
				font-weight: 500
				color: $black
				line-height: 1.37
				position: relative
				+r(991)
					font-size: 16px
				+r(767)
					br
						display: none