.order {
  display: block;
  width: 100%;
  // background: center bottom url("../img/order-bg.png") no-repeat, $charcoal;
  background: $charcoal;

  &__banner {
    max-width: 620px;
    margin: 0 auto 40px;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    color: $beige;

    span {
      color: $brownish-red;
    }
  }

  &__preferences {
    display: flex;
    justify-content: space-around;
    max-width: 1190px;
    flex-wrap: wrap;
    margin: 0 auto;
    // padding-bottom: 170px;
  }

  &__preference {
    display: block;
    max-width: 277px;
    text-align: center;
  }

  &__preference-title {
    font-size: 25px;
    font-weight: 500;
    line-height: 44px;
    color: $reddish;
  }

  &__preference-text {
    font-size: 18px;
    line-height: 26px;
    color: $beige;

    span {
      white-space: nowrap;
    }
  }
}

@media all and (max-width:2560px) {
  .order {
    background: #2c2c24;
  }
}

@media all and (max-width:1920px) {
  .order {
    background: #2c2c24;
  }
}

@media all and (max-width: 1199px) {
  .order {
    &__preferences {
      // padding-bottom: 120px;
    }
  }
}

@media all and (max-width: 991px) {
  .order {
    background-position-y: 678px;
    padding-bottom: 0;

    &__banner {
      margin: 0 auto 20px;
    }

    &__preferences {
      padding-bottom: 0;
    }

    &__preference-text {
      padding-bottom: 40px;
    }
  }
}

@media all and (max-width: 767px) {
  .order {
    background-position-y: 824px;

    &__banner {
      margin: 0 auto 15px;
      font-size: 23px;
      line-height: 30px;
    }

    &__preferences {
      padding-bottom: 16px;
    }

    &__preference-title {
      font-size: 20px;
      line-height: 25px;
    }

    &__preference-text {
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 26px;
    }
  }
}

@media all and (max-width: 480px) {
  .order {
    background-position-y: 852px;

    &__banner {
      span {
        white-space: nowrap;
      }
    }
  }
}