.reviews
	background: url('../img/reviews__back.jpg') no-repeat center top
	padding-top: 139px
	background-size: cover
	padding-bottom: 70px
	overflow: hidden
	+r(1199)
		padding-top: 109px
	+r(991)
		padding-top: 87px
	+r(767)
		padding-top: 70px
		padding-bottom: 82px
	&__title
		text-align: center
		max-width: 730px
		margin: auto
		line-height: 1.25
		color: $beige
		margin-bottom: 47px
		br
			display: none
		+r(1199)
			font-size: 36px
		+r(991)
			font-size: 30px
			margin-bottom: 30px
		+r(767)
			font-size: 27px
		+r(480)
			font-size: 24px
			br
				display: block
	&__slider
		display: flex
		justify-content: space-around
		+r(1280)
			padding: 0 70px
		+r(767)
			padding: 0 80px
		+r(480)
			padding: 0
			// padding-bottom: 80px
		.arr
			top: 114px
			+r(480)
				top: 294px
			&--left
				left: -50px
				+r(1280)
					left: 0
			&--right
				right: -50px
				+r(1280)
					right: 0
		.slide
			text-align: center
			width: 320px
			max-width: 100%
			outline: none
			+r(1280)
				width: 300px
			.photo
				margin: auto
				margin-bottom: 20px
				border-radius: 6px
				+r(991)
					max-width: 100%
					width: 250px
				+r(767)
					width: 100%
			.name
				font-size: 21px
				font-weight: 500
				color: $beige
				margin-bottom: 16px
				white-space: nowrap
				+r(991)
					font-size: 18px
			.fico
				font-size: 27px
				margin-bottom: 5px
				color: $reddish
			.spoil
				font-size: 17px
				line-height: 1.29
				color: $beige
				margin-bottom: 15px
			.desc
				max-width: 270px
				width: 100%
				margin: auto
				font-size: 17px
				line-height: 1.53
				color: #c8ad88
				+r(1280)
					line-height: 1.4
				+r(991)
					br
						display: none
					font-size: 14px
				+r(767)
					max-width: 100%
				.bold
					font-weight: 500