.usage {
  display: block;
  width: 100%;
  max-width: 2560px;
  background: url("../img/usage-bg.png") no-repeat;

  //background-position-y: 35px;
  &__banner {
    margin: 138px 0 45px;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    color: $beige;

    span {
      color: $reddish;
    }
  }

  &__items-box {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-reset: section;

    &:after {
      display: block;
      position: absolute;
      width: 1000px;
      height: 11px;
      content: "";
      background: url("../img/usage-items-arrow.png") no-repeat;
      opacity: 0.58;
      margin-top: 436px;
      left: calc(50% - 550px);
    }
  }

  &__item-case {
    display: block;
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
  }

  &__item-number {
    margin: -69px 0 38px;
    position: relative;
    color: $beige;
    font-family: $title-font;
    font-size: 36px;
    line-height: 40.5px;
  }

  .block-red {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    &:after {
      padding-top: 4px;
      padding-left: 3px;
      line-height: 51px;
      width: 61px;
      content: counter(section);
      counter-increment: section;
      display: block;
      position: absolute;
      font-family: 'Vollkorn SC', 'Times New Roman', Times, serif;
      font-size: 36.5px;
      font-weight: 900;
      color: $beige;
    }
  }

  &__item-text {
    font-size: 18px;
    line-height: 26px;
    color: $beige;

    &.-perfect-padding {
      padding-top: 5px;
    }

    span {
      color: $reddish;

      span {
        white-space: nowrap;
      }
    }
  }

  &__text-red {
    color: $reddish;
  }

  &__text-nowrap {
    white-space: nowrap;
  }

  &__additional-info {
    max-width: 905px;
    margin: 115px auto 130px;
    text-align: center;
    color: $beige;
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;

    span {
      color: $reddish;
    }
  }

}

@media screen and (min-width: 1990px) {
  .usage {
    max-width: 100%;
    background-size: cover;

    &__additional-info {
      padding-bottom: 70px;
    }
  }
}

@media all and (max-width: 1199px) {
  .usage {
    background-size: 2600px 740px;
    background-position-y: -5px;

    &__banner {
      margin: 80px 0 15px;
    }

    &__items-box:after {
      display: none;
    }

    &__item-case {
      max-width: 305px;

      img {
        max-width: 300px;
      }
    }

    &__item-text {
      padding: 5px 13px 0;
      font-size: 16px;
    }

    &__additional-info {
      margin: 25px auto 80px;
    }
  }
}

@media (max-width: 991px) {
  .usage {
    background-size: 2600px 1240px;
    background-position-y: -5px;

    &__additional-info {
      margin: 25px auto 90px;
      font-size: 24px;
    }
  }
}

@media (max-width: 767px) {
  .usage {
    background-size: 2600px 1480px;
    background-position-y: 2px;

    &__banner {
      margin: 65px 0 5px;
      font-size: 30px;
      line-height: 38px;
    }

    &__item-case:not(:last-of-type) {
      margin-bottom: 20px;
    }

    &__item-text {
      line-height: 20px;
    }

    &__additional-info {
      max-width: 480px;
      margin: 15px auto 90px;
      font-size: 18px;
      line-height: 22px;
    }
  }
}

@media (max-width: 480px) {
  .usage {
    background-size: 2600px 1507px;
    background-position-y: 9px;

    &__banner {
      margin: 75px 0 0;
      font-size: 20px;
      line-height: 26px;
    }

    &__item-text {
      font-size: 15px;
      line-height: 20px;
    }

    &__additional-info {
      margin: 48px auto 85px;
      font-size: 16px;
      line-height: 25px;

      &:before {
        display: none;
      }
    }

  }
}